{#<h1>{{ trans("Blog::Blog.underConstruction") }}</h1>#}

<link rel="stylesheet" href="{{ plugin_path('Blog') }}/css/my-style-1.css">

<script src="{{ plugin_path('Blog') }}/js/jquery-3.1.1.min.js"></script>
<script src="{{ plugin_path('Blog') }}/js/tether.min.js"></script>
<script src="{{ plugin_path('Blog') }}/js/bootstrap.min.js"></script>

{% block Body %}

{% endblock %}